body {
    margin: 0;
    overflow: hidden;
    background-color: #8c8b9e;
    color: white;
}

ul li {
    list-style-type: none;
}

.wrap {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    padding-top: 45px;

}

.info_container {
    display: none;
}

.album_item {
    float: left;
    width: 200px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;




}

.album_item img {

    width: 100%;
    height: 100%;

    cursor: pointer;
    border: 2px solid #7f728c;
}

#big_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 36, 56, 0.5);
    display: none;
    z-index: 100500;
}

.left_arrow, .right_arrow {
    position: absolute;
    cursor: pointer;

    top: 50%;

    border-radius: 50%;
    background-color: rgba(27, 133, 27, 0.45);
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
}

.left_arrow:hover, .right_arrow:hover {
    background-color: rgba(23, 106, 23, 0.6);
}

.left_arrow img, .right_arrow img {
    width: 100%;
}

.left_arrow {
    left: 25px;


    background-image: url('../img/back.png');

}

.right_arrow {
    right: 25px;

    background-image: url('../img/next.png');
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;

    cursor: pointer;


    width: 30px;
    height: 30px;
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.close img {
    width: 100%;
}

.info {
    position: absolute;
    bottom: 17px;
    right: 15px;
}

.info_pict {
    width: 40px;
    height: 40px;
    background-image: url('../img/information.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    cursor: pointer;
}

.text_info {
    width: 350px;
    display: none;
    text-align: right;
    color: white;
    margin-bottom: 10px;
}

.shake {
    transform-origin: top center;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.img_zoom {
    display: block;
    max-width: 80%;
    margin: 65px auto;
    cursor: move;
}

@keyframes shake {
    0%, 100% {
        transform: translateZ(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(2px, 0, 0);
    }
}

.image_cont {
    overflow:hidden;
    width: 100%;

}

.image_cont img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;

}

.image_cont img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.loop_p,.loop_m{
    position: absolute;
    width: 42px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 15px;
    cursor: pointer;

}

.loop_p{
    background-image: url("../img/loop_p.png");
    left: 25px;
}

.loop_m{
    background-image: url("../img/loop_m.png");
    left: 77px;
}

.album_container{
    height: 40%;
}

.pagination_container{
    text-align: center;
    cursor: pointer;
}
.pagination_number{
    margin-right: 7px;

}

.pagination_help_button {
    margin-right: 7px;

}

.pagination_number.active{
    font-size: 18px;
    font-weight: bold;
}




#time-range p {
    font-family:"Arial", sans-serif;
    font-size:16px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}




.search_button{
    width: 160px;
    text-align: center;
    font-size: 23px;
    padding-top: 10px;
    height: 35px;
    border-radius: 16px;
    margin: 0 auto;
    background-color: #3175b2;
    cursor: pointer;
}

#time-range{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.filter_container{
    border: 2px solid #7f728c;
    background-color: #c4cffa2e;

    border-radius: 31px;
    padding: 15px;
}


.slider-time,.slider-time2{
    font-weight: bold;
}

.meta_container{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 10px;
}
.checkbox_item{

}

.meta_name{
    margin: 0;
    margin-bottom: 15px;
}


form{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}